PORT=4000
FRONTEND_URL=http://localhost:5173
DATABASE_URL="mysql://root:your-mysql-password@localhost:3306/reachinbox"
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

GOOGLE_CLIENT_ID=google client id

JWT_SECRET=reachinbox-local-dev-secret-2026-change-this-later

ETHEREAL_HOST=smtp.ethereal.email
ETHEREAL_PORT=587
ETHEREAL_USER=get ethereal user from ethereal
ETHEREAL_PASSWORD=get ethereal user password from ethereal
EMAIL_FROM=get ethereal user from ethereal

WORKER_CONCURRENCY=5
MIN_EMAIL_DELAY_MS=2000
MAX_EMAILS_PER_HOUR=200
MAX_SEND_ATTEMPTS=3
